// Abstract
@import '../../styles/variables';

.flash-message {
    box-shadow: 0 0 7px 3px gray;
    font-family: 'Roboto';
    color: #f1f1f1;
    background-color: $secondary;
    padding: 0.3rem 0.6rem;
}
