.form {
    z-index: 2;
    padding: 2rem 3rem;
    width: 500px;
    height: 50%;

    @media (max-width: 480px) {
        width: 95vw;
        padding: 1.5rem;
    }

    display: flex;
    flex-direction: column;

    border-radius: $radius1;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: $shadow1;

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__inputs-group {
        margin-top: 1.5rem;
        > input:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }

        > label {
            margin-bottom: 0.5rem;
        }
    }
}
