// Components
@import '../Components/Navbar/_Navbar.scss',
    '../Components/Footer/_Footer.scss',
    '../Components/Layout/_Layout.scss',
    '../Components/Expense/ExpenseItem/_expense.scss',
    '../styles/form.scss', '../Components/FlashMessage/FlashMessage';

// Pages
@import '../pages/_pages.scss';

// Abstracts
@import './variables';

/*** GENERAL ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

.w100 {
    width: 100%;
}

.w85 {
    width: 85%;
}

.w49 {
    width: 49%;
}

.bg-salmon {
    background-color: lightblue;
}

.my-1 {
    margin: 1.5rem 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    width: 80vw;
    max-width: 1300px;
    height: 100%;
    @media (max-width: 500px) {
        width: 96vw;
    }
}

.my-2 {
    margin: 2rem auto;
}

.btn {
    &:not(:last-of-type) {
        margin-right: 1rem;
    }
    font-family: $font1;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 1rem;
    box-shadow: $shadow1;
    border-radius: $radius1;

    color: #f1f1f1;

    &:hover {
        box-shadow: $shadow2;
        cursor: pointer;
    }

    &-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &-add {
        background-color: $valid;
    }

    &-add--plus {
        background-color: $valid;

        font-size: 1.8em;
        font-weight: 300;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
    }

    &-update {
        background-color: $warning;
    }

    &-delete {
        background-color: $danger;
    }

    &-cancel {
        background-color: $primary;
    }
}

.title-page {
    margin-bottom: 1rem;
}

input,
textarea,
select,
button {
    font-size: inherit;
    border: $border-input;
    padding: 0.3rem 0.5rem;
    border-radius: $radius1;
    background: inherit;
    font-family: inherit;

    &:focus {
        outline: none;
    }
}

.item-selected {
    background-color: $itemSelected;
    box-shadow: 0 8px 6px -6px black !important;
    color: white;
    border-radius: $radius1;
    transition: 0.15s all ease-out;

    p {
        color: white !important;
    }
}
.item-not-selected {
    transition: 0.15s all ease-out;
}

.breadcrumb {
    font-weight: bold;
    font-size: 1.2em;
    color: $itemSelected;
}
