footer {
    margin-top: 2rem;
    box-shadow: 0 0 7px 3px gray;
    font-family: 'Roboto';
    color: #f1f1f1;
    background-color: $primary;
    padding: 0.6rem 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__logo {
        width: 10rem;
        img {
            width: 100%;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
