.expense {
    z-index: 0;
    position: relative;
    padding: 0.5rem;
    box-shadow: $shadow1;
    border-radius: $radius1;

    &:hover {
        box-shadow: $shadow2;
    }

    h3 {
        font-family: $font3;
        margin-bottom: 0.5rem;
    }

    p {
        font-family: $font1;
        color: $gray;
    }
}
