// Colors
$primary: #183b6f;
$secondary: #3174d2;
$gray: #858585;
$danger: rgb(224, 79, 79);
$valid: rgb(6, 155, 6);
$warning: rgb(253, 163, 61);
// $itemSelected: #3174d2ac;
$itemSelected: $secondary;

// Borders
$border1-black: 1px solid black;
$border-input: 1px solid lightgray;
$radius1: 0.3rem;

// Fonts
$font1: 'Roboto';
$font2: 'Montserrat';
$font3: 'Playfair Display';

// Shadows
$shadow1: 0 0 8px 2px lightgray;
$shadow2: 0 0 10px 2px rgb(195, 195, 195);
